__pycache__/
Apps/Collection/src\resources\edgar-full-index-archives\master-2022-QTR1.txt
Apps/Collection/src/data_base_helper.py
Apps/Collection/src\\resources\\edgar-full-index-archives\\master-2022-QTR1.txt"
Apps/Collection/src\\resources\\edgar-full-index-archives\\master-2022-QTR1.txt~3a9c906cc8976c90>
Apps/Collection/src/resources/companies/*
Apps/Collection/src/resources/*
venv/*
